* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

/* common shared styles */
body{
    font-family: "Azeret Mono", serif;
    color: rgb(13, 19, 33);
}
.p-font-size {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.primary-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    
}

/* nav related style  */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title {
    font-size: 28px;
    font-weight: 800;
}
.resume-btn {
    background-color: white;
    padding: 17px 24px;
    border-radius: 8px;
    opacity: 0.8;
}

/* banner related style  */
.banner {
    background-image: url(../assets/Hero-bg.png);
    width: 100%;
    height: 652px;
    justify-items: center;
    align-items: center;
    margin: auto;
}
.banner-img {
    padding: 26px 0;
}
.banner-title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding: 24px 400px;
}
.banner-p {
    text-align: center;
    padding: 0 500px 32px;
}
.banner a {
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    padding: 21px 24px;
    border-radius: 8px;
    text-decoration: none;
}

/* why web related styles  */
.why-web {
    width: 1140px;
    height: 1250px;
    margin: 74px auto 90px;
    padding: 80px 97px;
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}
.why-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.why-p {
    text-align: center;
    margin: 42px 0 48px;
}
.why-web-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.why-web-items-middel {
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 32px 0;
}
.why-web-items-title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin: 0 78px 16px 0;
}

.learn-btn {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 32px;
}

/* My Inspiration related styles  */

.inspiration {
    width: 1260px;
    height: 660px;
    margin: 90px auto 350px;
    justify-items: center;
}
.i-video {
    width: 100%;
    margin: 48px 0 0 0;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}
/* my-current-target related styles  */
.target {
    width: 1260px;
    margin: 100px auto;
}
/* current  */
.current-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.target-title {
    font-size: 24px;
    font-weight: 800;
    margin: 24px 0 8px 0;
}
.target-p {
    margin-bottom: 24px;
}
.current-items {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}
.current-items-2 {
    background: rgba(0, 76, 232, 0.05);
}
.current-items-3 {
    background: rgba(255, 223, 0, 0.05);
}

/* next  */
.next {
    margin-top: 111px;
}

.next-container {
    display: flex;
    gap: 30px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
}
.next-container-2 {
    margin: 24px 0;
}

/* support  */
.support {
    background-image: url(../assets/handshake.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1260px;
    margin: 50px auto 80px;
    padding: 70px 0px;
    border-radius: 16px;
}
.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.support-p {
    color: rgba(255, 255, 255, 0.788);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 20px 350px 40px;
}
.support-text-sub {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#support-text {
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 20px 40px 0;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.support-btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    padding: 20px 17px;
}
/* footer related styles  */
.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.foot-title {
    font-size: 20px;
    font-weight: 600;
}