* {
    margin: 0;
    padding: 0;
}

/* common shared styles */
body{
    font-family: "Azeret Mono", serif;
    color: rgb(13, 19, 33);
}
.p-font-size {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.primary-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

/* nav related style  */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title {
    font-size: 28px;
    font-weight: 800;
}
.resume-btn {
    background-color: white;
    padding: 17px 24px;
    border-radius: 8px;
    opacity: 0.8;
}

/* banner related style  */
.banner {
    background-image: url(../assets/Hero-bg.png);
    width: 100%;
    height: 652px;
    justify-items: center;
    align-items: center;
    margin: auto;
}
.banner-img {
    padding: 26px 0;
}
.banner-title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding: 24px 400px;
}
.banner-p {
    text-align: center;
    padding: 0 500px 32px;
}
.contact-btn {
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    padding: 21px 24px;
    border-radius: 8px;
}

/* why web related styles  */
.why-web {
    width: 946px;
    height: 1233px;
    margin: 74px auto 90px;
    padding: 80px 97px;
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}
.why-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.why-p {
    text-align: center;
    margin: 42px 0 48px;
}
.why-web-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.why-web-items-middel {
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 32px 0;
}
.why-web-items-title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin: 0 78px 16px 0;
}

.learn-btn {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 32px;

}